@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300&display=swap');

.guessit .item {
    background: white;
}

/* the gap where answers are dropped/keyed in */
.que.guessit input[type=text],
.que.guessit .specific-feedback {
    font-family: 'Roboto Mono', 'Lucida Console', Courier, monospace;
    font-size: 1.2em;
    background: white;
    color: black;
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 1px;
    display: inline-block;
    height: inherit;
    border-radius: 0.25em;
    border: 1px solid #a0a0a0;
    padding-left: 5px;
    padding-right: 5px;
}

.que.guessit div.answeroptions {
    margin-bottom: 15px;
}

.que.guessit .correct,
.que.guessit input.correct {
    background-color: #afa;
}

.que.guessit .incorrect,
.que.guessit input.incorrect {
    background-color: #faa;
}

.que.guessit .partiallycorrect,
.que.guessit input.partiallycorrect {
    background-color: #ffff99;
}

/* Showing markup. top & left determined by position of input element. 
*/
.que.guessit .markup {
  font-family: "Lucida Console", Courier, monospace; 
  font-size: 1.2em;
  margin-left: 5px;
  position: absolute;
  top: 22px;
  left: 0px;
}

.que.guessit .feedback-markup {
  font-family: "Lucida Console", Courier, monospace; 
  margin-left: 5px;
  position: absolute;
  top: 22px;
  left: 0px;
}

.que.guessit .input-wrapper {
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
}

.que.guessit .specific-feedback.input-wrapper {
  margin-right: 4px;
}
